.place-card {
  text-decoration: none;
}

.place-card > div {
  width: 18rem;
  border: solid 3px rgb(255, 128, 0);
}

.place-card div img {
  height: 14rem;
  border-radius: 12px;
  padding: 20px;
}

.place-card div h2 {
  text-decoration: underline;
  text-decoration-color: rgb(255, 128, 0);
}

@media (max-width: 768px) {
  .place-card {
    width: 90vw;
  }

  .place-card div {
    margin: 20px;
    width: 80vw;
  }

  .place-card div img {
    height: 70vw;
  }
}
